<ion-view view-title="Авторизация" name="login-view">
    <ion-content scroll="false" class="padding" ng-init="loginstor()">
        <div class="list list-inset">
            <img src="img/logo_rostelecom.png" style = "width: 40%; height: 30%; margin-left: 30%; margin-bottom: 10%">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Пароль" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Войти</button>
    </ion-content>
</ion-view>