<ion-view view-title="Профиль">
    <ion-content id="profile" class="padding" ng-controller="AccountCtrl" has-bouncing="false">
        <div class="bio">
            <div class="avatar"></div>
            <h1>{{user.name}}</h1>
            <h2>{{groups[user.group].name}}</h2>
        </div>
        <div class="stats">
            <div class="stat">
                <div>{{position.content}}</div>
                <h3>МЕСТО</h3>
            </div>
            <div class="stat">
                <div>25<sub>км</sub></div>
                <h3>СЕГОДНЯ</h3>
            </div>
            <div class="stat">
                <div>100<sub>км</sub></div>
                <h3>ВСЕГО</h3>
            </div>
        </div>
        <div class="notice">
            Вам не хватает <span>5 сделок</span> до <span>{{position.content-1}} места</span>.
        </div>
        <hr>
        <h3 class="achv_h">Награды</h3>
        <div class="achvs">
            <div class="achv"><i class="icon ion-coffee"></i><b>Achievment #1</b></div>
            <div class="achv"><i class="icon ion-clock"></i><b>Achievment #2</b></div>
            <div class="achv"><i class="icon ion-trophy"></i><b>Achievment #3</b></div>
            <div class="achv"><i class="icon ion-ribbon-b"></i><b>Achievment #4</b></div>
            <div class="achv"><i class="icon ion-ios-personadd"></i><b>Achievment #5</b></div>
        </div>
        <hr>
        <div class="car">
            <h3>Машина</h3>
            <img class="carimg" src={{cars[user.car].img}} />
            <div class="carabout">
                <p>Цвет: <span>{{cars[user.car].color}}</span></p>
                <p>Тип: <span>{{cars[user.car].type}}</span></p>
                <p>Цена: <span>{{cars[user.car].price}}у.е.</span></p>
            </div>
        </div>
        <button class="button button-block button-assertive" ng-click="logout()">Выйти</button>
    </ion-content>
</ion-view>
