<ion-view view-title="Общий заезд">
    <ion-content has-bouncing="false" ng-controller="RaceOutCtrl">
        <div class="out">
            <div class="road roadasph">
                <div class="grass grassasph"></div>

                <div class="grass grassasphR"></div>
                <div class="razm"></div>
                <img class="raceCar" src={{cars[users.content[position.content-2].car].img}} style="top: 40%;left: 65%;"/>
                <img class="raceCar" src={{cars[user.car].img}} style="top: 50%;left: 40%;"/>
                <img class="raceCar" src={{cars[users.content[position.content+1].car].img}} style="top: 60%;left: 10%;"/>
            </div>
        </div>
        <div class="sidebar">
            <div class="leaderboard">
                <h1 class="sidebar-head">Лидеры</h1>
                <table class="table">
                    <tr>
                        <td><img class="medal" src="img/gold.png"></td>
                        <td>{{users.content[0].name}}</td>
                    </tr>
                    <tr>
                        <td><img class="medal" src="img/silver.png"></td>
                        <td>{{users.content[1].name}}</td>
                    </tr>
                    <tr>
                        <td><img class="medal" src="img/bronze.png"></td>
                        <td>{{users.content[2].name}}</td>
                    </tr>
                </table>
            </div>
            <div class="place">
                <div class="current_place">{{position.content}}</div>
                <h1>Моя позиция</h1>
            </div>
            <div class="xp">
                <div class="xp_boost">x1</div>
                <h1>Ускорение</h1>
            </div>
            <div class="next_target">
                <h1 class="sidebar-head">До цели</h1>
                <div>5 продаж</div>
                <div>+100 км</div>
                <hr>
                <div>10 продаж</div>
                <div>+200 км</div>
                <hr>
            </div>
        </div>
    </ion-content>
</ion-view>