<ion-view view-title="Внутренний заезд">
    <ion-content has-bouncing="false" ng-controller="RaceInCtrl">
        <div class="out">

            <div class="road">
                <div class="grass"></div>
                <div class="progr">
                    <div class="dot"></div>
                    <div class="dott">
                    </div>
                </div>
                <div class="grass grassR"></div>
                <img class="raceCar obgon" src="{{cars[users.content[position.content-2].car].img}}">
                <img class="raceCar" src="{{cars[user.car].img}}" style="top: 50%;left: 40%;"/>
                <img class="raceCar obgon1" src="{{cars[users.content[position.content+1].car].img}}" />
                <img class="raceCar obgon2" src="img/cars/blue_car.png" />
            </div>
        </div>
        <div class="sidebar">
            <div class="leaderboard">
                <h1 class="sidebar-head">Лидеры</h1>
                <table class="table">
                    <tr>
                        <td><img class="medal" src="img/gold.png"></td>
                        <td>{{users.content[0].name}}</td>
                    </tr>
                    <tr>
                        <td><img class="medal" src="img/silver.png"></td>
                        <td>{{users.content[1].name}}</td>
                    </tr>
                    <tr>
                        <td><img class="medal" src="img/bronze.png"></td>
                        <td>{{users.content[2].name}}</td>
                    </tr>
                </table>
            </div>
            <div class="place">
                <div class="current_place"><div class="anim">{{position.content}}</div><div class="anim1">{{position.content-1}}</div></div>
                <h1>Моя позиция</h1>
            </div>
            <div class="xp">
                <div class="xp_boost">x1</div>
                <h1>Ускорение</h1>
            </div>
            <div class="next_target">
                <h1 class="sidebar-head">До цели</h1>
                <div>5 продаж</div>
                <div>+100 км</div>
                <hr>
                <div>10 продаж</div>
                <div>+200 км</div>
                <hr>
            </div>
        </div>
    </ion-content>
</ion-view>