<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- RaceIn Tab -->
    <ion-tab title="Внутренний заезд" icon-off="ion-speedometer" icon-on="ion-speedometer" href="#/tab/racein">
        <ion-nav-view name="tab-racein"></ion-nav-view>
    </ion-tab>

    <!-- RaceOut Tab -->
    <ion-tab title="Общий заезд" icon-off="ion-podium" icon-on="ion-podium" href="#/tab/raceout">
        <ion-nav-view name="tab-raceout"></ion-nav-view>
    </ion-tab>

    <!-- Team Tab -->
    <ion-tab title="Командный заезд" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/raceteam">
        <ion-nav-view name="tab-raceteam"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Профиль" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
