.out {
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.raceCar {
    position: absolute;
    width:26%;
    height: auto;
    transform: rotate(90deg);
    z-index: 2;
}

.obgon {
    -webkit-animation-name: obgon;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    top: 30%;
    left: 65%;
}

.obgon1 {
    -webkit-animation-name: obgon1;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    top: 70%;
    left: 10%;
}
.obgon2 {
    -webkit-animation-name: obgon2;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    top: -300%;
    left: 65%;
}
@-webkit-keyframes obgon {
    0% {
        top: 30%;
        left: 65%;}
    50% {
        top:110%;
        left:65%;
    }
    70% {
        top:110%;
        left:10%;
    }
    100% {
        top: 60%;
        left: 10%;}
}
@-webkit-keyframes obgon1 {
    0% {
        top: 70%;
        left: 10%;}

    100% {
        top: 200%;
        left: 10%;}
}
@-webkit-keyframes obgon2 {
    0% {
        top: -300%;
        left: 65%;}

    100% {
        top: 10%;
        left: 65%;}
}

.progr {
    width: 14px;
    height:84vh;
    background: rgba(38, 243, 255, 0.5);
    float: left;
    position: absolute;
    margin: 8px;
    overflow: hidden;
    border-radius: 3px;
}
.dot {
    background: url("../img/dot.png");
    height: 14px;
    width: 14px;
}
.dott {
    background: url("../img/dott.png")repeat-y;
    width:14px;
    margin-top:-15px;
    height: 100%;
    -webkit-animation-name: dot;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
}
@-webkit-keyframes dot {
    from {
        margin-top:-15px;				}
    to {
        margin-top: -30px;				}
}
.anim {
    -webkit-animation-name: animaz;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-play-state: running;
}
@-webkit-keyframes animaz {
    from {
        color:#fff;
    }
    to {
        color: transparent;
    }

}
.anim1 {
    color: transparent;
    -webkit-animation-name: animaz2;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 6s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-play-state: running;
    margin-top: -20px;
}
@-webkit-keyframes animaz2 {
    from {
        color:transparent;
    }
    to {
        color:#fff;
    }

}
.grass {
    position: relative;
    float: left;
    width:25px;
    height: 86vh;
    background: url('../img/textures/grass.png') repeat;
    background-size: 25px;
    -webkit-animation: roadAnimation 0.9s linear infinite;
}

.grassR {
    background: url('../img/textures/grassRight.png') repeat;
    float: right;
    background-size: 25px;
}
.grassasph {
    background: url('../img/textures/grass2tree.png') repeat;
    background-size: 25px;
}
.grassasphR {
    background: url('../img/textures/grassRight2tree.png') repeat;
    float: right;
    background-size: 25px;
}
.road {
    width: 100%;
    height: 86vh;
    position: relative;
    background: url('../img/textures/dirt.jpg') repeat;
    background-size: 150px;
    -webkit-animation: roadAnimation 0.9s linear infinite;
}
.roadasph {
    background: url('../img/textures/asphalt.jpg') repeat;
    background-size: 150px;
}
.razm {
    width: 100%;
    height: 86vh;
    position: relative;
    background: url('../img/textures/razm.png') repeat;
    background-size: 100% 150px;
    -webkit-animation: roadAnimation 0.9s linear infinite;
}
@-webkit-keyframes roadAnimation {
    from {
        background-position: 0px 0px;				}
    to {
        background-position: 0px 150px;				}
}





