/* Empty. Add your own CSS if you like */
.bio {
    background: #01abe8;
    margin: -10px;
    padding: 10px;
}

.avatar {
    height: 96px;
     width: 96px;
    background: #ee7400 url("../img/cntc.png") center;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    border: solid 2px #f8f8f8;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
}

#profile h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1;
    color: #f8f8f8;
}

#profile h2 {
    color: #f8f8f8;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
    margin-top: 0;
    font-weight: 400;
}

#profile hr {
    margin: 0 -10px 10px -10px;
    border: 1px solid #ddd;
    border-top: none;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
}

.stats {
    background: #6e6e6e;
    color: #dedede;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    text-align: center;
}

.stats .stat {
    display: inline-block;
    width: 32%;
}

.stats .stat {
    font-size: 38px;
}

.stats .stat h3 {
    font-size: 18px;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #DEDEDE;
}

.stats .stat div sub, .stats .stat div sup {
    font-size: 50%;
}

.stats .stat div sup {
    top: -0.8em;
}

.stats .stat div sub {
    bottom: 0;
}

.notice {
    background: #e4e4e4;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    color: #6d6d6d;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
}

.notice span {
    text-decoration: underline;
}

.achv_h {
    text-align: center;
    margin-top: 5px;
}

.achvs {
    text-align: center;
}

.achv {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: #ee7400;
    border-radius: 50%;
    margin-bottom: 10px;
}

.achv:nth-child(odd) {
    background: #01abe8;
}

.achv i.icon {
    color: #fff;
    display: block;
    margin: 7px auto;
    height: 50px;
    font-size: 50px;
}

.achv b {
    display: none;
}

.car {
    width: 100%;
}

.car h3 {
    text-align: center;
}

.car .carimg {
    float: left;
    width: 50%;
    height: 89px;
}

.car .carabout {
    float: left;
    margin-top: 10px;
    width: 50%;
    text-align: center;
}

.car .carabout p {
    margin: 0
}

.car .carabout p span {
    text-decoration: underline;
}

.sidebar {
    float: right;
    width: 30%;
    height: 100%;
}

.sidebar .sidebar-head, .xp h1, .place h1 {
    padding: 4px;
    color: #f8f8f8;
    font-size: 19px;
    text-align: center;
    line-height: 19px;
}

.sidebar .sidebar-head {
    background: #6e6e6e;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.sidebar .leaderboard .sidebar-head {
    margin-bottom: 0;
}

.leaderboard .table {
    text-align: left;
    width: 100%;
}

.leaderboard .table td {
    padding-left: 2px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    line-height: 1;
}

.leaderboard .table tr:nth-child(even) {
    background: #e9e9e9;
}

.leaderboard .medal {
    height: 28px;
    width: 28px;
}

.xp_boost, .current_place {
    text-align: center;
}

.xp div, .place div {
    font-size: 35px;
    padding-top: 10px;
}
.place div div {
    padding-top: 0;
}
.xp {
    background: #ee7400;
    color: #fff;
}

.xp h1, .place h1 {
    margin: 0;
    padding: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 15px;
}

.place {
    color: #fff;
    background: #01abe8;
}

.next_target {
    text-align: center;
    font-size: 18px;
}

.next_target hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
}

